@{
    var cartCount = ViewBag.CartCount ?? 0;
    var cartTotal = ViewBag.CartTotal ?? 0m;
}
<a href="@Url.Action("ShoppingCart", "Account")"
   class="btn btn-outline-light position-relative ms-lg-2">
    <i class="bi bi-cart" style="font-size:1.2rem"></i>
    @if ((int)cartCount > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @cartCount
        </span>
    }
<span class="d-none d-lg-inline ms-2"> @(((decimal)cartTotal).ToString("C"))</span>
</a>
