
@{
    ViewBag.Title = "WaiterID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero_area">
    <section class="slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="col-lg-10 col-md-11 mx-auto">
                            <div class="detail-box">
                                <h3>
                                    Meet Our
                                </h3>
                                <h2>
                                    Expert Waiters
                                </h2>
                                <h1>
                                    Delivery Guy
                                </h1>
                                <p>
                                    Certified Workers is a key to succces.
                                </p>
                                <div class="">
                                    <a href="#waiter-profile">
                                        View Profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="waiter_profile_section layout_padding" id="waiter-profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="box">
                    <div class="img-box">
                        <img src="@Url.Content("~/Images/t1.jpg")" alt="Delivery Guy - local legend" class="img-fluid rounded-circle">
                    </div>
                    <div class="detail-box">
                        <h5>Delivery Guy</h5>
                        <p>Certified Restoraunt Waiter</p>
                        <div class="specialization">
                            <h6>Specialization:</h6>
                            <p>Strength Waiting, HIIT, Weight Loss</p>
                        </div>
                        <div class="experience">
                            <h6>Experience:</h6>
                            <p>5+ Years</p>
                        </div>
                        <div class="social_box">
                            <a href="https://t.me/Samch0s" target="_blank">
                                <img src="@Url.Content("~/Images/telega.png")" alt="Telegram">
                            </a>
                            <a href="https://steamcommunity.com/id/sam4ch/" target="_blank">
                                <img src="@Url.Content("~/Images/steam.png")" alt="Steam">
                            </a>
                            <a href="https://www.instagram.com/sam_4ch/" target="_blank">
                                <img src="@Url.Content("~/Images/instagram.png")" alt="Instagram">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="bio-box">
                    <h4>Bio</h4>
                    <p>Delivery Guy is a certified master of scooters</p>
                    
                    <div class="testimonials">
                        <h4>Testimonials</h4>
                        <div class="testimonial-box">
                            <p>"Delivery Guy faster then a flash"</p>
                            <h6>- Mr.Beast, Client</h6>
                        </div>
                        <div class="testimonial-box">
                            <p>"Watch how Delivery Guy working is a pure joy."</p>
                            <h6>- Robin Dabank, Client</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>